.board {
    width: 26rem;
    height: 50rem;
    padding: 1rem;
    border: 1px solid #664229;
    border-radius: 15px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: #d7bd8f;
}

.board__score,
.board__solution,
.board__hints,
.board__pieces {
    height: 3rem;
    border: 1px solid #664229;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.board__score,
.board__hints {
    width: 3rem;
    flex-wrap: wrap;
    margin-right: 0.5rem;
}

.board__solution,
.board__pieces {
    width: 20rem;
    flex-grow: 1;
}

.board__hint {
    width: 1rem;
    height: 1rem;
    border: 1px solid #664229;
    border-radius: 50%;
}

.board__piece {
    width: 2rem;
    height: 2rem;
    border: 1px solid #664229;
    border-radius: 50%;
}

.board__piece--active::after {
    content: "";
    display: block;
    position: relative;
    top: calc(-0.25rem - 3px);
    left: calc(-0.25rem - 3px);
    width: 2.5rem;
    height: 2.5rem;
    border: 3px solid blue;
    border-radius: 50%;
}

.board__piece--red {
    border: none;
    background: radial-gradient(circle at 0.75rem 0.75rem, white, red, #000);
}

.board__piece--yellow {
    border: none;
    background: radial-gradient(circle at 0.75rem 0.75rem, white, yellow, #000);
}

.board__piece--green {
    border: none;
    background: radial-gradient(circle at 0.75rem 0.75rem, white, green, #000);
}

.board__piece--blue {
    border: none;
    background: radial-gradient(circle at 0.75rem 0.75rem, white, blue, #000);
}

.board__piece--black {
    border: none;
    background: radial-gradient(circle at 0.75rem 0.75rem, white, black, #000);
}

.board__piece--white {
    border: none;
    background: radial-gradient(circle at 0.75rem 0.75rem, white, white, #000);
}
